.skills {

  // .skills__inner

  &__inner {
    display: flex;
    background-color: #222;
  }

  // .skills__about

  &__about {
    padding: 30px 25px;
    flex: 0 1 30%;
    
  }

  // .skills__about-photo

  &__about-photo {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 100%;

    img {
      width: 150px;
      border-radius: 5px;
    }
  }

  // .skills__about-list

  &__about-list {
    margin-bottom: 50px;
  }

  // .skills__about-item

  &__about-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px dashed hsla(0, 0%, 100%, .15);

    a {
      color: #a2a2a2;
    }
  }

  // .skills__about-icon

  &__about-icon {
    width: 25px;
    height: 25px;
  }

  // .skills__about-text

  &__about-text {
    margin-left: 10px;
    font-size: 16px;
    color: #a2a2a2;
  }

  // .skills__about-cv

  &__about-cv {
    display: flex;
    justify-content: center;
  }

  // .skills__about-link

  &__about-link {
    
  }

  &__info-container {
    flex: 0 1 70%;
    padding: 30px 25px;
    border-left: 1px dashed hsla(0, 0%, 100%, .15);
  }

  // .skills__info

  &__info {}

  // .skills__info-services

  &__info-services {}

  // .skills__info-programming

  &__info-programming {}

  // .skills__info-language

  &__info-language {}

  // .skills__info-education

  &__info-education {}

  // .skills__info-working

  &__info-working {}
}

.skills-title {
  padding-bottom: 15px;
  border-bottom: 1px dashed hsla(0, 0%, 100%, .15);
  font-size: 21px;
  font-weight: 600;

  span {
    color: $blueColor;
  }
}

.services {
  margin-bottom: 50px;

  // .services__title

  &__title {}

  // .services__list

  &__list {
    padding: 15px 0;
  }

  // .services__item

  &__item {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    color: #a2a2a2;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::after{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid $blueColor;
      border-bottom: 8px solid transparent;
    }

  }
}

.programming {
  margin-bottom: 50px;

  // .programming__title

  &__title {}

  // .programming__list

  &__list {
    padding: 15px 0;
  }

  // .programming__item

  &__item {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    color: #a2a2a2;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::after{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid $blueColor;
      border-bottom: 8px solid transparent;
    }

  }
}

.language {
  margin-bottom: 50px;

  // .language__title

  &__title {}

  // .language__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0;
  }

  // .language__item

  &__item {
    
  }

  // .language__procent

  &__procent {

  }

  // .language__circle

  &__circle {}

  // .language__name

  &__name {
    font-size: 18px;
    color: #a2a2a2;
  }
}

.education {
  margin-bottom: 50px;

  // .education__title

  &__title {}

  // .education__list

  &__list {}

  // .education__item

  &__item {}

  // .education__item-inner

  &__item-inner {}

  // .education__item-time

  &__item-time {}

  // .education__item-place

  &__item-place {}
}

.working {
  margin-bottom: 50px;

  // .working__list

  &__list {}

  // .working__item

  &__item {}

  // .working__item-inner

  &__item-inner {}

  // .working__item-time

  &__item-time {}

  // .working__item-place

  &__item-place {}
}